.container {
  width: 91.67%;
  height: 100%;
  padding-bottom: 70px;
}

.title {
  margin-left: 1.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

.emptyText {
  margin-left: 1.25rem;
  color: #777;
}
